body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/*section-01 started*/

.flexible-container{
    display: flex;      /*section flexing*/
}
.half-widht h1{
    font-size: 50px;    /* division heading adjusting */
}
.half-widht h2{
    font-size: 30px;    /* division heading adjusting */
}
.half-widht{
    width: 50%;
    padding-left: 40px;  /* division measuring */
}
.half-widht img{
    width: 90%;
    margin-top: 10px;
}
.header-title{
    color: red;
}
.sub-header-title{
    color: orange;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(lightblue,cyan);
    color: black;
    padding: 10px 20px;          /*link button*/
    font-weight: 600;
    border-radius: 10px;
}
.top-banner{
    background-image: url(img/top-banner.png);
    background-repeat: no-repeat;
}

/*section-01 ended*/
/*section-02 started*/

.aidkit-banner{
    padding-left: 20px;
}
.section02-adjusting{
    margin-top: 100px;
}
.doctor-img-section{
    width: 50%;
    padding-left: 60px;
    margin-top: 20px;
}
#doc-1{
    box-shadow: 10px 10px 50px grey;
    border-radius: 20px;
    width: 30%;
    margin-left: 5%;
}
.doc1-img{
    margin-top: 30px;
    margin-left: 10px;
    width: 70%;
}
.doc2-img{
    margin-top: 30px;
    margin-left: 10px;
    width: 55%;
}
.doc3-img{
    margin-top: 30px;
    margin-left: 10px;
    width: 70%;
}
.doct-name2{
    margin-left: 20px;
}
.doct-name3{
    margin-left: 32px;
}
#doc-2{
    box-shadow: 10px 10px 50px grey;
    border-radius: 20px;
    width: 30%;
    margin-left: 5%;
}
#doc-3{
    box-shadow: 10px 10px 50px grey;
    border-radius: 20px;
    width: 30%;
    margin-right: 5%;
    margin-left: 5%;
}
.doct-section{
    font-size: 30px;
    background-color: orange;
    padding: 20px;
    width: 87%;
    margin-left: 67px;
    border-left: 5px solid black;
    font-weight: 700;
    border-radius: 5px;
}
.free-services{
    margin-top: 80px;
}
.half-widht form{
    border-top: 5px solid black;
    box-shadow: 10px 10px 50px grey;
    padding: 50px;
    padding-top: 20px;
    width: 40%;
    margin-left: 10%;
    margin-bottom: 20px;
    border-radius: 5px;
}
.free-service-contents{
    margin-top: 90px;
    width: 40%;
    margin-right: 10%;
    padding-right: 10px;
}
footer p{
    text-align: center;
    margin-top: 30px;
}